<div class="card-header">
    <h1 class="card-title" style="text-align:center">Login</h1>
    <div class="card-body">
        <!-- <form> -->
        <div class="field1">
            <label>Username:</label>
            <input [(ngModel)]="email" type="text" id="uname" name="uname">
        </div>
        <div class="field2">
            <label>Password:</label>
            <input [(ngModel)]="password" type="text" id="password" name="password">
        </div>
        <div class="field3">
            <button color="primary" (click)="handleSubmit()">Submit</button>
        </div>
        <!-- </form> -->
    </div>
</div>